<html>
    <head>
      <title>Projeto Doguinho!</title>
    </head>
    <body>
      <div class="margem1">
        <h1 class="centralizar">Doguinho!</h1>
        <div class="div"></div>
        <h2><p class="centralizar">Bem vindo à pagina dos doguinhos</p></h2>
        <h4><p class="centralizar">Por favor, aperte no botão INICIAR para ver um doguinho</p></h4>
        <div class="div"></div>
        <p></p>
        <br>
        <br>
        <div class="centralizar">
          <div class="botao"(click)="botao_init">INICIAR</div>
        </div>
      </div>
    </body>
</html>
