.margem1{
  background-color: lightgray;
  border-radius: 1vw;
  margin: 3vw;
  padding-left: 3vw;
  display: flex;
  flex-flow: column wrap;
}

.centralizar{
  justify-items: center;
  justify-content: center;
  display: flex;
}

.div{
height: 1px;
margin-right: 3vw;
background: black;
flex-flow: row wrap;
}

.botao{
  background-color: green;
  border-radius: 2vw;
  height: fit-content;
  width: fit-content;
  padding: 3vw;
  transition: 0.2s;
  text-align: center;
}

.botao:hover{
  transition: 0.3s;
  cursor: pointer;
  background-color: lightgreen;
}

.botao:active{
  background-color: white;
}

.quadro{
  background-color: black;
  height: 300px;
  width: 500px;
  object-fit: contain;
}